/* You can add global styles to this file, and also import other style files */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;
/* Ukrywa scrollbar w WebKit (Chrome, Edge, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ukrywa scrollbar w Firefoxie */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE i*/
}
body {
  background-color: rgb(167, 203, 236);
}
