<div class="singleEventComponent">
  <h3>{{ event()?.title }}</h3>
  <h4>{{ event()?.description }}</h4>
  <h4>{{ event()?.date }}</h4>

  <p>{{ event()?.currentMembers }}/{{ event()?.capacity }}</p>
  <p>{{ event()?.host }}</p>
  @if(event()?.status ==='owner'){
  <p>You are the owner</p>
  } @else{
  <select
    class="bg-blue-300 h-8 rounded-xl border-none p-2"
    name=""
    id=""
    [value]="event()?.status"
    [(ngModel)]="selectValue"
  >
    <option value="willing">Chętny</option>
    <option value="unwilling">Niechętny</option>
    <option value="interested">Zainteresowany</option>
  </select>
  }
  <p class="cursor-pointer" (click)="changeCommentsDisplay()">Komentarze</p>
  <p class="cursor-pointer" (click)="ChangeAddCommentDisplayed()">Dodaj komenatrz</p>

  @if(isAddCommentDisplayed()){
  <app-add-comment
    [isAddCommentDisplayed]="isAddCommentDisplayed"
    [areCommentsDisplayed]="areCommentsDisplayed"
    [event]="event()"
  />

  } @if(areCommentsDisplayed()){ @if(event()?.comments?.length!==0){ @for(comment of
  event()?.comments; track comment.id){
  <app-comment [comment]="comment" />
  } } @else {

  <p>Brak komentarzy</p>
  } }
</div>
